---
layout: single
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{{
"I was a teaching assistant in following courses:
## University of Minnesota 
- Machine Learning
- Artificial Intelligence II
- Advanced Algorithm and Data Structure 
- Algorithm and Data Structure
- Discrete Structures

## University of Tehran
- Artificial Intelligence
- Social Network
- Theory of Formal Languages and Automata
- Operating Systems 
- Data Structure and Algorithm"
| markdownify }}
<!-- Comment for now - When you had a course: change the layout to archive and uncomment this.
{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" or post.label != "info" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
-->
