/* ==========================================================================
   Amir's 
   ========================================================================== */
   
   
.dropDownAbstract{
	font-size: $type-size-8;
	display: none; 
	position: relative;
	border-left: 3px solid $primary-color; 
	padding-left: 3px
}
   
.dropDownBibtex{
	font-size: $type-size-8;
	display:none; 
	position:relative;
}